@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

h2 {
    margin:0 2%;
    font-size: 2.5rem;
}
.box-card {
    /* width: 600px;
    height: 225px; */
    box-shadow: 1px 3px 9px 0px rgba(255, 255, 255);
    -webkit-box-shadow: 1px 3px 9px 0px rgba(255, 255, 255);
    -moz-box-shadow: 1px 3px 9px 0px rgb(255, 255, 255);
    padding: 2%;
    border-radius: 15px;
    margin: 2% 30%;
    color: black;
    background-color: white;
}
.alert-abnormal {
    color: rgb(255, 0, 0);
}