@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.biggy {
    position: relative;
    height: 520px;
    width: 50%;
    min-width: 600px;
    background-color: rgb(179, 179, 179);
    margin: 0 auto;
    top: 100px;
    margin-top: -25px;
    border-radius: 25px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.texto {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    height: 110px;
    line-height: 110px;
    /* transform: translateX(-50%); */
    font-size: 50px;
    color: white;
    text-align: center;
    border: 1.5px;
    background-color: rgb(64, 64, 64);
    border-radius: 25px 25px 0 0;
    margin: 0;
    width: 100%;
}

.pin-wrapper2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
    border-radius: 50px;
}

.pin-wrapper2 div{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#auth, #newPin {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    width: 180px;
    height: 35px;
    margin: 5px;
    margin-right: 0;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
    padding-left: 20px;
    font-size: 18px;
}

.littleRight {
    margin-left: 18px;
}


#submitReset {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
    font-size: 18px;
    padding: 4px 0px;
    border-radius: 5px;
    background-color: white;
    border: none;
    margin: 20px;
    width: 150px;
}


#submitReset:hover{
    /* transform: translateY(-2px); */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

#submitSetting {
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    border: none;
    margin: 20px;
}

#resetPin {
    display: block;
}